.navigation{
    // border:2px solid red;
    .navContainer{
        position: relative;
        .navigationBar{
            display: flex;
            align-items: center;
            justify-content: center;
            width:100%;
            padding-bottom: 80px;
            h1{
                font-size: 5rem;
                padding-right: 100px;
            }
            .navBar{
                display:flex;
                width: 500px;
                justify-content: space-between;
                align-items: center;
                padding-right: 40px;
                li{
                    border-bottom: 2px solid #E0E2DB;
                    transition: 0.3s;
                    a{
                        color: #38413f;
                        font-size:1.25rem;
                    }
                    &:hover, &:focus{
                        border-bottom: 2px solid #38413f;
                    }

                }
            }
        }
    }
    .navButton{
        display:none;
        font-size: 1.5rem;
    }
    
}

@media(max-width:900px){
    .navigation{
        .navContainer{
            position: relative;
            .navigationBar{
                background-color: #E0E2DB;
                position:fixed;
                z-index: 10;
                width: 100%;
                height:30px;
                justify-content: flex-end;
                h1 {
                    font-size: 2.3rem;
                    width:60%;
                    position:absolute;
                    padding-bottom: 20px;
                    top:10px;
                    left:10px;
                    }
                .navBar{
                    flex-direction: column;
                    align-items: flex-start;
                    width:auto;
                    height:200px;
                    position:absolute;
                    top:70px;
                    display:none;
                }

                .navBar.active {
                    position: fixed;
                    z-index: 10;
                    display:flex;
                    left: 10px;
                    top:0;
                    transition: 0.5s ease;
                    // background-color: black;
                    background-color: #E0E2DB;;
                    width:200px;
                    left: calc(100% - 200px);
                    align-items: space-evenly;
                    padding: 10px 10px;
                }
            }
            .navButton{
                display:inline-block;
                position: absolute;
                z-index: 30;
                top:-10px;
                padding:20px 0;
                right:10px
            }
        }
    }
}